<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Sample</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome To Python FastAPI</h1><br>
        <h1>{{name}}</h1><br>
        <h1>Your API Request Is Processed By The Container ID: {{ container_id }}</h1><br>
        <h1>Your Container Is Running Python Version: {{ python_version }}</h1><br>
        <h1>Public IP Address Of This WebApp Is: {{ IP }}</h1><br>
        <h1>This Is a From {{ branch_name }} Branch</h1><br>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>